xmlparser/parser/camp/dtd/config/email-group-definition.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2006 rel. 3 sp2 (http://www.altova.com) by Odon (CARSWELL-1 CORPORATE PLAZA) -->
<!--W3C Schema generated by XMLSpy v2006 rel. 3 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="GroupEmailAddress">
		<xs:complexType mixed="true">
			<xs:attribute name="ID" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="EmailGroupDefinition">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="GroupEmailAddress" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
