xmlparser/parser/camp/dtd/config/message-definition.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2006 rel. 3 sp2 (http://www.altova.com) by Odon (CARSWELL-1 CORPORATE PLAZA) -->
<!--W3C Schema generated by XMLSpy v2006 rel. 3 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="MessageDefinition">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Messages" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
		<xs:unique name="UniqueCategory">
			<xs:selector xpath="Messages"/>
			<xs:field xpath="@Category"/>
		</xs:unique>
		<xs:unique name="UniqueReturnCode">
			<xs:selector xpath="Messages/Message"/>
			<xs:field xpath="@ReturnCode"/>
		</xs:unique>
	</xs:element>
	<xs:element name="Messages" id="UniqueCategory">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Message" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Category" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Description" type="xs:string"/>
	<xs:element name="Message" id="UniqueReturnCode">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Description"/>
			</xs:sequence>
			<xs:attribute name="ID" type="xs:ID" use="required"/>
			<xs:attribute name="Email" type="xs:string" use="optional"/>
			<xs:attribute name="ReturnCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
