xmlparser/parser/camp/dtd/content/CLB-Lego-Exchange.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2006 rel. 3 sp2 (http://www.altova.com)-->
<!--Collection of Acts, Regulations, Remission Orders-->
<!ELEMENT CLB.LEGO.EXCHANGE (DOCUMENTS*)>
<!ATTLIST CLB.LEGO.EXCHANGE
	ID CDATA #IMPLIED
	TIME CDATA #IMPLIED
	TYPE CDATA #IMPLIED
>
<!ELEMENT DOCUMENTS (DOCUMENT.CLB*)>
<!ELEMENT DOCUMENT.CLB (CITATION?, TITLE?, PARAGRAPHS.CLB?)>
<!ATTLIST DOCUMENT.CLB
	CHARACTER.COUNT CDATA #IMPLIED
	CLB.UNIQUE.NUMBER CDATA #IMPLIED
	CONSOLIDATION.ID CDATA #IMPLIED
	ID CDATA #IMPLIED
	TYPE.ID CDATA #IMPLIED
	FORCE.STATUS CDATA #IMPLIED
	IN.FORCE.WHEN CDATA #IMPLIED
	JURISDICTION.ID CDATA #IMPLIED
	PARAGRAPH.COUNT CDATA #IMPLIED
	REPEALED.DATE CDATA #IMPLIED
	REPEALED.STATUS CDATA #IMPLIED
	SE.MANUAL CDATA #IMPLIED
	SEQ CDATA #IMPLIED
	UI.NAME CDATA #IMPLIED
	UPDATED.USER CDATA #IMPLIED
	UPDATED.WHEN CDATA #IMPLIED
	CLB.PUBLISHING.STYLE CDATA #IMPLIED
	LAST.PUBLISHED CDATA #IMPLIED
>
<!ELEMENT PARAGRAPHS.CLB (PARAGRAPH.CLB*)>
<!ELEMENT PARAGRAPH.CLB (SE1?, SE2?, SE3?, SE4?, SE5?, SE6?, SE7?, MARGIN.NOTE?, CONTENT?)>
<!ATTLIST PARAGRAPH.CLB
	ACTIVE CDATA #IMPLIED
	FORCE.STATUS CDATA #IMPLIED
	IN.FORCE.WHEN CDATA #IMPLIED
	ID CDATA #IMPLIED
	TYPE.ID CDATA #IMPLIED
	PARAGRAPH.VERSION.ID CDATA #IMPLIED
	REPEALED.WHEN CDATA #IMPLIED
	SE.LEVEL CDATA #IMPLIED
	SE.MANUAL CDATA #IMPLIED
	SEQ CDATA #IMPLIED
	UI.NAME CDATA #IMPLIED
	UPDATED.USER CDATA #IMPLIED
	UPDATED.WHEN CDATA #IMPLIED
>
<!ELEMENT SE1 ANY>
<!ELEMENT SE2 ANY>
<!ELEMENT SE3 ANY>
<!ELEMENT SE4 ANY>
<!ELEMENT SE5 ANY>
<!ELEMENT SE6 ANY>
<!ELEMENT SE7 ANY>
<!ELEMENT SE8 ANY>
<!ELEMENT SE9 ANY>
<!ELEMENT CONTENT (#PCDATA | num | rgr | ref | osr | bcr | abr | mbr | nbr | nlr | nsr | per | qcr | ntr | skr | nur | ytr | pic | rfn | ori | tdf | tcb | sup | sub | cbo | sna | min)*>
<!ELEMENT TITLE (#PCDATA | num | rgr | ref | osr | bcr | abr | mbr | nbr | nlr | nsr | per | qcr | ntr | skr | nur | ytr | pic | rfn | ori | tdf | tcb | sup | sub | cbo | sna | min)*>
<!ELEMENT CITATION (#PCDATA | num | rgr | ref | osr | bcr | abr | mbr | nbr | nlr | nsr | per | qcr | ntr | skr | nur | ytr | pic | rfn | ori | tdf | tcb | sup | sub | cbo | sna | min)*>
<!ELEMENT MARGIN.NOTE (#PCDATA | num | rgr | ref | osr | bcr | abr | mbr | nbr | nlr | nsr | per | qcr | ntr | skr | nur | ytr | pic | rfn | ori | tdf | tcb | sup | sub | cbo | sna | min)*>
<!ELEMENT num ANY>
<!ELEMENT rgr ANY>
<!ELEMENT ref ANY>
<!ELEMENT osr ANY>
<!ELEMENT bcr ANY>
<!ELEMENT abr ANY>
<!ELEMENT mbr ANY>
<!ELEMENT nbr ANY>
<!ELEMENT nlr ANY>
<!ELEMENT nsr ANY>
<!ELEMENT per ANY>
<!ELEMENT qcr ANY>
<!ELEMENT ntr ANY>
<!ELEMENT skr ANY>
<!ELEMENT nur ANY>
<!ELEMENT ytr ANY>
<!ELEMENT pic ANY>
<!ELEMENT rfn ANY>
<!ELEMENT ori ANY>
<!ELEMENT tdf ANY>
<!ELEMENT tcb ANY>
<!ELEMENT sup ANY>
<!ELEMENT sub ANY>
<!ELEMENT cbo ANY>
<!ELEMENT sna ANY>
<!ELEMENT min ANY>
