xmlparser/parser/camp/dtd_06172017/config/component-config.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2006 rel. 3 sp2 (http://www.altova.com)-->
<!--Number of steps in the Assembly Line-->
<!ELEMENT StepCount (#PCDATA)>
<!--List of the steps in the Assembly Line-->
<!ELEMENT Step (Id, Description, HandlerClass, Type, TriggerExpression, LocalContext)>
<!--Number of steps in the Assembly Line-->
<!--
<!ELEMENT StepCount (#PCDATA)>
-->
<!--List of the steps in the Assembly Line-->
<!--
<!ELEMENT Step (Id, Description, HandlerClass, Type, TriggerExpression, LocalContext)>
-->
<!--Step ID. Has no significance from processing perspective.-->
<!ELEMENT Id (#PCDATA)>
<!--Purpose of the Task. Has no significance from processing perspective.-->
<!ELEMENT Description (#PCDATA)>
<!--The Java class that is instantiated and runs during execution-->
<!ELEMENT HandlerClass (#PCDATA)>
<!--Type of the Step. If its Mandatory, it will always run. If its Optional the TriggerExpression will be evaluated and if it evaluates to TRUE, it will be invoked.-->
<!ELEMENT Type (#PCDATA)>
<!--Logical expression. If it evaluates to TRUE and the Type is Optional, this Step will be executed. Format: field operator &quot;value&quot;  logical operator  fieldoperator &quot;value&quot; (e.g.: ContextVariable1==&quot;10.1&quot; AND ContextVariable!=&quot;null&quot;)-->
<!ELEMENT TriggerExpression (#PCDATA)>
<!--Properties are set to this step through the LocalContext. Various type of child nodes will be added into LocalContext list as the need arises. In any case, none of the child node should be mandatory -->
<!ELEMENT LocalContext (CascadeDefinition*)>
<!-- Instruction on how to invoke cascade and the configuration file to use-->
<!ELEMENT CascadeDefinition (DriverClass, ConfigFile)>
<!-- The name of cascade driver class to be used-->
<!ELEMENT DriverClass (#PCDATA)>
<!--The location and name of cascade configuration file--> 
<!ELEMENT ConfigFile (Root?, RelativePath, Name)>
<!--This configuration file contains all the details that is necessary to run a Converter or an Analyzer-->
<!ELEMENT ComponentConfig (InitialContext, AssemblyLine+)>
<!--InitialContext: The Assembly Line will start the processing with these initial values-->
<!ELEMENT InitialContext (InputRepositoryConstantName?, OutputRepositoryConstantName?, ConversionRule?, ConverterDirectory)>
<!--The Constant Name of the Repository where the files will be picked up for processing. This is a reference to the Repository.RepositoryDefinition.ConstantName value.-->
<!ELEMENT InputRepositoryConstantName (#PCDATA)>
<!--The Constant Name of the Repository where the output files will be palced after processing. This is a reference to the Repository.RepositoryDefinition.ConstantName value.-->
<!ELEMENT OutputRepositoryConstantName (#PCDATA)>
<!--The name and location of the ConversionRule-->
<!ELEMENT ConversionRule (Root?, RelativePath, Name)>
<!--Root directory of a particular file or subdirectory. In normal situation is not supposed to be defined here. This should be supplied through the environment dependent configuration file. This should be used for testing purposes only!-->
<!ELEMENT Root (#PCDATA)>
<!--The permanent location of a particular file or subdirectory&apos;s relative path to the root-->
<!ELEMENT RelativePath (#PCDATA)>
<!--The name of a particular file. This could be another configuration file, conversion rule file, etc-->
<!ELEMENT Name (#PCDATA)>
<!--The location of the Converter Specifics-->
<!ELEMENT ConverterDirectory (Root?, RelativePath)>
<!--Root directory of the Converter. In normal situation is not supposed to be defined here. This should pe supplied through the environment dependent configuration file. This should be used for testing purposes only!-->
<!--
<!ELEMENT Root (#PCDATA)>
-->
<!--The permanent location of the Converter&apos;s relative path to the root-->
<!--
<!ELEMENT RelativePath (#PCDATA)>
-->
<!--The description of the Assembly Line-->
<!ELEMENT AssemblyLine (FileType, NormalFlow, AlternateFlow)>
<!--The file types that this Assembly Line can handle. The definition of the actual file types is Repository.RepositoryDefinition.FileDescription.FileDefinition and the actual referred field is Repository.RepositoryDefinition.FileDescription.FileDefinition.Type-->
<!ELEMENT FileType (#PCDATA)>
<!--For the given file types the steps defined in this Assembly Line will be executed always-->
<!ELEMENT NormalFlow (AssemblyLineDefinition)>
<!--List of the steps-->
<!ELEMENT AssemblyLineDefinition (StepCount, Step*)>
<!--For the given file types the steps defined in this Assembly Line will be executed in case an abnormal situation happens during the execution of the NormalFlow (i.e. Exception)-->
<!ELEMENT AlternateFlow (AssemblyLineDefinition)>
