xmlparser/parser/camp/dtd_06172017/config/repository-definition.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2006 rel. 3 sp2 (http://www.altova.com)-->
<!--Full Name of the Repository-->
<!ELEMENT Name (#PCDATA)>
<!--This name is used for reference purposes (ComponentConfig.InitialContext)-->
<!ELEMENT ConstantName (#PCDATA)>
<!--Root directory of the repository. In normal situation is not supposed to be defined here. This should pe supplied through the environment dependent configuration file. This should be used for testing purposes only!-->
<!ELEMENT Root (#PCDATA)>
<!--The permanent location of the repository relative to the root.-->
<!ELEMENT RelativePath (#PCDATA)>
<!--Description of a file type-->
<!ELEMENT FileDefinition (Type, Mask, Extension, ValidationDescription)>
<!--Number of FileDefinition records-->
<!ELEMENT Count (#PCDATA)>
<!--Description of a file type-->
<!-- 
<!ELEMENT FileDefinition (Type, Mask, Extension, ValidationDescription)>
-->
<!--Type of the file. It must be one word (no spaces). These types are referenced by the ComponentConfig.AssemblyLine.FileType property.-->
<!ELEMENT Type (#PCDATA)>
<!--The matching criteria of the files. Whatever matches the mask is considered this type.-->
<!ELEMENT Mask (#PCDATA)>
<!--The part of the file that is after the last dot.-->
<!ELEMENT Extension (#PCDATA)>
<!--The location of the logic that validates the file (usually Schema or DTD). For certain file types the validation will be skipped (e.g. content hub files). In these cases these fields can be empty, but they must exist in the XML.-->
<!ELEMENT ValidationDescription (Root, RelativePath, Name)>
<!--Root directory of the validator logic. In normal situation is not supposed to be defined here. This should pe supplied through the environment dependent configuration file. This should be used for testing purposes only!-->
<!--
<!ELEMENT Root (#PCDATA)>
-->
<!--The permanent location of the validation logic relative to the root.-->
<!--
<!ELEMENT RelativePath (#PCDATA)>
-->
<!--The name of the file that contain the validation logic (usually Schema or DTD)-->
<!--
<!ELEMENT Name (#PCDATA)>
-->
<!--Repository properties and the file types that are stored in these repositories.-->
<!ELEMENT Repository (RepositoryHeader, RepositoryDefinition+)>
<!--Definition of the context keys.-->
<!ELEMENT RepositoryHeader ((Name, ConstantName, Root, RelativePath), (FileDescription))>
<!--Description of the file types-->
<!--
<!ELEMENT FileDescription (FileDefinition)>
-->
<!--The actual repository properties (context values)-->
<!ELEMENT RepositoryDefinition ((Name, ConstantName, Root, RelativePath), (FileDescription))>
<!--Description of the file types-->
<!ELEMENT FileDescription (Count+, FileDefinition+)>
